/* TODO:fix this  */
.main_table {
  /* prevents double-thick borders between cells */
  border-collapse: collapse; 
  width: 100%;
}

/*lines around header cells and data cells*/
.main_table th, td {
  border: 1px solid #4a2e2e; 
  padding: 10px;          
  text-align: left;         
}

/*header row background*/
.main_table th {
  background-color: #faecc0;
}

/*Configure Margins*/
fieldset {
  margin-bottom: 20px;
  padding: 20px;
}


/*For the Registration page fields*/
.form-input {
  padding: 10px;
  margin-bottom: 15px;
  margin-right: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input { 
  padding: 8px;
  width: 100%; /*This is just the recommendations from VSCode, what the heck*/
}


/*For registration.html, make fields red if they aren't filled out*/
/*TODO: FIX THIS*/
input:required:invalid {
  border: 2px solid red;
}

input:required:valid {
  display: block;
}

/*schedule page, table format*/
.schedule_table {
  border-collapse: collapse; 
  width: 100%; 
}
.schedule_table th, td {
  border: 1px solid #4a2e2e; 
  padding: 10px;          
  text-align: left;         
}
/*header row background*/
.schedule_table th {
  background-color: #faecc0;
}