/* TODO:fix this  */
/*INDEX PAGE -----------------------------------------------------------------------------*/

nav a {
  display: inline-block;
  width: 90px;
  padding: 8px;
  background: #faecc0;
  color: black;
  text-align: center;
  text-decoration: none;
  font-weight: bold; 
}

.main_table {
  /* prevents double-thick borders between cells */
  border-collapse: collapse; 
  /* width: 80%; */

  /* Center the table */
  margin-left: auto;
  margin-right: auto;

}

/*lines around header cells and data cells*/
.main_table th, .main_table td {
  border: 1px solid #4a2e2e; 
  padding: 10px;          
  text-align: left;         
}

/*header row background*/
.main_table th {
  background-color: #faecc0;
}
 
.cheese-ranks {
  text-align: center; 
}


/*Configure Margins*/
fieldset {
  margin-bottom: 20px;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input { 
  padding: 8px;
  width: 100%; /*This is just the recommendations from VSCode, what the heck*/
}


/*REGISTRATION PAGE ------------------------------------------------------------------*/

.register-page{
  margin: 40px 20px;
  color:#41213a;
  background-color: rgb(255, 252, 238);
}

.register-header {
  text-align: center;
  padding: 20px 20px;
  margin: 20px;
  background-color: #faecc0;
  border-radius: 5px;
}

.register-form{
  padding: 10px;
  margin: 40px 20px;
  background-color: #faecc0;
  border-radius: 5px;
}

/*For the Registration page fields*/
.form-input {
  padding: 10px;
  margin-top:auto;
  margin-bottom: 15px;
  margin-right: 60px;
  margin-left: 40px;
  border: none;
  border-radius: 4px;
  accent-color: #4a2e2e; 
}

/*Age slider*/
.slider-group{
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider{
  accent-color: #4a2e2e;
}

/*.slider-group input[type="range"] {
  flex: 1;
}*/

/*radio buttons*/
.radio-group {
  display: flex;
  gap: 5px;
  margin-right: 15px;
  accent-color: #4a2e2e;
  flex-direction: column;
}

.radio-options label {
  font-size: 14px; 
}

/*TODO: FIX CHECKBOXES*/
/*checkboxes*/
.checkbox-group {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  accent-color: #4a2e2e;
}

.checkbox-group label {
  display: flex;
  align-items: flex-start;
}

.form-input textarea {
 width: 100%;
 padding: 8px;
 resize: none;
 box-sizing: border-box
}

/*Center the button!!!*/
/*button*/
.submit{
  text-align: center;
  margin-top: 20px;
}

.submit-button{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  justify-content: center;
  display: flex;
}

button{
  padding: 10px 20px;
  background-color: #4a2e2e;
  color: #faecc0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

/*TODO: FIX THIS*/
input:required:invalid {
  border: 2px solid red;
  border-radius: 4px;
}

input:required:valid {
  display: block;
}

/*Required * */ 
.required {
  color: red;
  font-weight: bold;
}

/*SCHEDULE PAGE -----------------------------------------------------------------------------*/
/*schedule page, table format*/
body.schedule_body{
  background-image: url(../Cheese-Connoisseur-Club/Images/swiss_cheese.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}
.schedule_body .page_wrapper {
  width: 100%;
  max-width: 800px;
  margin: 40px 20px;
  border-radius: 8px;
  padding: 30px;
  background-color: rgba(255, 202, 241, 0.5); /*50% opacity*/
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.schedule_body{
  text-align: center;
  margin-bottom: 20px;
}
.schedule_table {
  border-collapse: collapse; 
  width: max-content; 
  margin: 20px auto;
}
.schedule_table caption {
  font-weight: bold;
  padding: 12px;
  background-color: #4a2e2e;
  color: #faecc0; 
  
  border: 1px solid #4a2e2e;
  border-bottom: none;
  text-align: center;
}
.schedule_table th, .schedule_table td {
  border: 1px solid #4a2e2e; 
  padding: 10px;          
  text-align: left;         
}
.schedule_table th {
  background-color: #faecc0;
}

/*ABOUT PAGE -----------------------------------------------------------------------------*/
.about{
  background-color: rgb(255, 252, 238);
  color:#41213a;
}

.site-header{
  text-align: center;
  margin-bottom: 20px;
}


.about-section {
  margin-bottom: 30px;
  margin: 40px 20px;
  padding: 20px;
  padding-top: 0px;
  border: 1px solid #41213a;
  border-radius: 5px;
  background-color: #faecc0;
}

.activity-list {
  list-style-type: square;
  padding-left: 25px;
}

.external-link {
  text-decoration: none;
  font-weight: bold;
}

/*General Elements -----------------------------------------------------------------------------*/
/*body background and font*/
body{
  padding: 10px;
  color:#41213a;
}

/*footer*/
.site-footer {
  text-align: center;
  padding: 15px;
  background-color: #faecc0;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
  margin: 40px 20px;
}

